.head{margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
    color: lime;
    font-weight: bold;
}
p{
   color: green;
   text-align: center;
   font-weight: bold;

}
@media screen  and (max-width:980px) {
   
}