.head{margin-top: 150px;
    margin-bottom: 50px;
    text-align: center;
    color: black;
    font-weight: bold;
}
p{
   color: green;
   text-align: center;
   font-weight: bold;

}
.header{
    margin-top: auto;
    margin-: auto;
}